* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather', serif;
}

/* Acá tengo los estilos generales */

header {
  background: #e94e1b;
  padding: 10px 50px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.image-container img {
  width: 100%;
  height: 100%;
}

/* Acá tengo los estilos del navbar */
.nav-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

.nav-bar .marker {
  padding: 15px;
  color:beige;
  text-decoration: none;
}

/* Acá tengo los estilos del header */

#logo {
  width: 50px;
}

#logo img {
  border-radius: 100%;
}

/* Acá están los estilos del hero */

#hero {
  position: relative;
}

#hero #masaje {
  display: inline-block;
  width: 100%;

}

#hero .informacion-contenedor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  width: 100%;
  color: fff;
  padding: 0 50px;
}

#hero .informacion-contenedor #libros-guruseva img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#hero .informacion-contenedor .informacion {
  margin-left: 20px;
  font-weight: 700;
}

#hero .informacion-contenedor .informacion span {
  display: inline-block;
  color: b5b5b5;
  margin-bottom: 70px;
}

/* Estilos del main */

.centertext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}


main {
  padding: 100px;
}

main .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 20px;
}

main .social-icons .social-icon {
  font-size: 2rem;
  font-weight: 700;
  background: #e94e1b;
  color: white;
  margin-left: 8px;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

main .social-icons li {
  list-style: none;
}

* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.3
  }

  to {
    opacity: 1
  }
}